@model IEnumerable<BeserShop.Models.VegetarianProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VegetarianProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VegetarianProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VegetarianProductStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VegetarianProductDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VegetarianProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegetarianProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegetarianProductStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegetarianProductDescription)
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
